/* Styles for Authentication Pages */


//=================================================
// Global to Auth Pages
//=================================================

//=================================================
// Login Page
//=================================================
.login-page {

    .login-form-container {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .login-label {
        color: #3b6b9b;
        margin-bottom: 0 !important;
    }

    .login-form {
        width: 100%;
    }

    .login-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
}
