:root {
    --color-dark: #263d42;
    --color-prim: #3e92cc;
    --color-accent: #35ada1;
    --color-alt: #3b6b9b;
    --color-light: #c2d3cd;
}

a {
    text-decoration: underline;
    color: var(--color-accent);
}
a:hover {
    color: var(--color-prim);
}

p, small, h1, .title {
    color: var(--color-light);
}

body {
    background-color: var(--color-dark);
}

.site-header {
    padding: 15px;
    border-bottom: 4px solid var(--color-alt);
}

.site-footer {
    border-top: 4px solid var(--color-alt);
    margin-top: 15px;
    text-align: right;
    padding: 15px;
}

.article-block {
    margin: 40px 0 40px 0;
    border-left: 2px solid var(--color-prim);
    padding-left: 15px;
}

.article-title {
    font-size: 16px;
}

.article-link-container {
    display: flex;
}

.article-link {
    display: block;
}
.discussion-link {
    display: block;
    margin-left: 20px;
}


